@using Tela_de_pedidos.Enums
@model ProductModel

@{
	ViewData["Title"] = "Cadastar Produto";
}

<div class="border-5 container mb-5">
	<div class="text-center mb-5">
		<h1>Cadastrar Produto</h1>
	</div>


	<form class="row g-3" method="post" asp-controller="Orders" asp-action="AddProductToDb">
		<div class="col-md-6">
			<label for="Name" class="form-label">Nome</label>
			<input type="text" class="form-control" asp-for="Name" id="Name">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="col-md-6">
			<label for="Price" class="form-label">Preço</label>
			<input type="number" class="form-control" asp-for="Price" id="Price">
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div class="col-md-6">
			<label for="OriginProduct" class="form-label">Origem do Produto</label>
			<select type="text" class="form-control" asp-for="OriginProduct" id="OriginProduct">
				<option value="@OriginProduct.Comprado">@OriginProduct.Comprado</option>
				<option value="@OriginProduct.Fabricado">@OriginProduct.Fabricado</option>
			</select>
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div class="col-12">
			<button type="submit" class="btn btn-primary">Adicionar</button>
		</div>
	</form>
</div>